.cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
    height: 100vh;
    width: 90%;
}

.card{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100%;
    max-width: 200px;
    margin: 1rem;   
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    text-align: center;

}

.card h2 {
    text-align: bottom;
    color: black;
    margin-top: 10px;
}   
img {
    width: 150px; /* Giảm kích thước ảnh để phù hợp với thẻ */
    height: 200px;
    margin-top: 10px;
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
}

a {
    text-decoration: none;
}

.table-department table,
.table-department th,
.table-department td {
    width: 1%;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping*/
}

.table-departmentStaff table,
.table-departmentStaff th,
.table-departmentStaff td {
    width: 1%;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping*/
}

.table-staffsSalary table,
.table-staffsSalary th,
.table-staffsSalary td {
    width: 1%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align:center;
    white-space: nowrap; /* Prevent text wrapping*/
}

